<!-- 
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class=" col-12 col-md-8 col-lg-6 col-xl-5">
          <div class=" card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body px-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
 
                <h2 class="fw-bold mb-2 text-uppercase">admin Login</h2>
                
                <form action="" method="post">
  
                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">Email</label>
                  <input name="email" type="email" id="typeEmailX" class="form-control form-control-lg" />
                  
                  
                </div>
  
                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePasswordX">Password</label>
                  <input name="password" type="password" id="typePasswordX" class="form-control form-control-lg" />
                  
                </div>
  
                
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </form>
          
              </div>
  
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<!doctype html>
<html lang="en">

<head>
  <title>APERTURE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/User_signup/css/style.css">

</head>

<body class="img js-fullheight">
  <section class="ftco-section"
    style="background-image: url(/User_signup/images/login.jpeg); background-size: cover; height:100vh;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">ADMIN Login</h2>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap ">
            <h3 class="mb-4 text-center">Have an account?</h3>
            <form action="" method="post" class="signin-form">
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input id="password-field" type="password" class="form-control" name="password" placeholder="Password"
                  required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
              </div>
              
            </form>


          </div>
          <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
          
        </div>
      </div>
    </div>
    </div>
  </section>

  <script src="/User_signup/js/jquery.min.js"></script>
  <script src="/User_signup/js/popper.js"></script>
  <script src="/User_signup/js/bootstrap.min.js"></script>
  <script src="/User_signup/js/main.js"></script>

</body>

</html>