<script src="/User_home/vendor/jquery/jquery.min.js"></script>
    <script src="/User_home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/User_home/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/User_home/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/User_home/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
    <script src="/User_home/js/front.js"></script>
    
    <script src="/magiczoomplus/magiczoomplus.js"></script>
  </body>
</html>